/*
 * PLEASE, PLEASE, PLEASE...
 * Organize your CSS. Do not simply throw your CSS at the end
 * of this file. Read the table of contents and _use_ it.
 */

/*
 * TABLE OF CONTENTS
 * ---------------------------------------------------------------------------
 * 1. Globals  - Default HTML element styling.
 * 2. Template - Styling for the structure of the site.
 * ---------------------------------------------------------------------------
 */

/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * _variables.scss - Sass variables.
 * _mixins.scss    - Sass mixins.
 * _library.scss   - Styling for custom classes used throughout the site.
 * _page_name.scss - Styling for page/state specific elements. Name the
 *                   file appropriately.
 * ---------------------------------------------------------------------------
 */


/* GLOBALS
 * -----------------------------------------------------------------------------
 * Styling for default HTML elements.
 * -----------------------------------------------------------------------------*/
body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;

  @include media($tablet) {
    font-size: $base-font-size-tablet;
  }

  background-attachment: fixed;
  background-position: 50000;
  background-size: cover;
}

a, a:visited {}
a:hover, a:active {}

blockquote {}
small {}

h1 {
  font-size: 2em;
  font-weight: normal;
  color: $gray-dark;
  @include media($desktop) {
    font-size: 3.5em;
  }
  a {
    color: $gray-dark;
    text-decoration: none;
  }
}
h2 {
  font-size: 2em;
  font-weight: normal;
  color: $gray-dark;
  @include media($desktop) {
    font-size: 3em;
  }
}
h1 + h2 {
  font-size: 2em;
  color: $gray-light;
  @include media($desktop) {
    font-size: 1.8em;
  }
}
h3 {
  font-size: 1em;
  font-weight: bold;
  color: $gray-dark;
  @include media($desktop) {
    font-size: 2em;
  }
}
h2 + h3 {
  font-size: 1em;
  font-weight: normal;
  color: $gray-dark;
  @include media($desktop) {
    font-size: 2em;
  }
}
dl {
  margin-bottom: $base-line-height;
}

dt,
dd {
  line-height: $base-line-height;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: $base-line-height / 2;
}

.dl-horizontal {
  dt {
    clear: left;
    float: left;
    text-align: right;
    width: 120px;
    @include text-overflow();
  }

  dd {
    margin-left: 130px;
  }
}

/* TEMPLATE
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site.
 * -----------------------------------------------------------------------------*/

#nav-primary {}

#header-primary {
  .inner {
    @include media($desktop) {
      @include outer-container;
    }
  }
}

#main {
  margin:0 2em 2em;
  @include media($desktop) {
    @include outer-container;
  }
  #content-primary {
    @include media($desktop) {
      @include span-columns(8);
      @include pad;
    }
  }
  #footer-primary {
    @include media($desktop) {
      @include span-columns(4);
      @include pad;
    }
  }
}


/* SPECIFIC
 * -----------------------------------------------------------------------------
 * Section by section
 * -----------------------------------------------------------------------------*/

#front {
  margin: 0;
  padding: 0;
}

section {
  margin-bottom: 3em;
}

a, a:visited {
  color: #61b8db;
  // font-weight: bold;
  text-decoration: none;
  &:hover {
    color: darken(#61b8db, 10%);
  }
}

#header-primary {
  background: url('../images/grass.jpg') center bottom no-repeat;
  background-size: cover;
  .inner {
    padding:6em 2em 0.5em;
    &, h1, h2, a {
      color: #ffffff;
      text-align: center;
      text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }
    h1 {
      margin-bottom: 0;
    }
    h2 {
      margin-top: 0;
    }
  }
}

#content-primary {
  padding-top: 2em;
  h2, h3, h4 {
    line-height: 1.3em;
    margin: 0;
  }
}

#footer-primary {
  h2, h3, h4 {
    font-size: 1em;
    @include media($desktop) {
      margin-top:0;
      margin-bottom: 0;
      font-size: 2em;
    }
  }
  ul {
    margin-bottom: 2em;
    margin-top: 0;
    padding-left: 0;
    li {
      list-style-type: none;
      padding: 0.5em 0;
    }
  }
}

a#next {
  bottom:0;
  color:$gray-dark;
  display: block;
  font-size: 3em;
  padding:0.5em;
  position: fixed;
  right:0;
  text-align: center;
  text-decoration: none;
  width:100%;
  z-index: 100;
}

#blogs {
  a {
    display: block;
  }
}