/*
 * This file should only comprise of @imports.
 * Place all styles in appropriately named files.
 * See the ToC in _application.scss
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* LIBRARY
 * -----------------------------------------------------------------------------
 * Styling for custom elements used throughout the site.
 * -----------------------------------------------------------------------------*/
/*
 * TABLE OF CONTENTS
 * ---------------------------------------------------------------------------
 * 1. Utilities
 * 2. Buttons
 * 3. Forms
 * 4. Lists
 * 5. Navigation
 * 6. Tables
 * 7. Other/Misc
 * ---------------------------------------------------------------------------
 */
/**** Utilities ****/
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden; }

.clearfix {
  display: block; }

.selfclear {
  clear: both; }

.pull-left {
  float: left; }

.pull-right {
  float: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.valign-top {
  vertical-align: top; }

.valign-middle {
  vertical-align: middle; }

.valign-bottom {
  vertical-align: bottom; }

.relative {
  position: relative; }

.no-margin {
  margin: 0; }

.no-padding {
  padding: 0; }

/**** Buttons ****/
/**** Forms ****/
/**** Lists ****/
.list-horizontal {
  margin: 0; }
  .list-horizontal > li {
    display: inline-block; }

.list-unstyled {
  margin: 0;
  padding: 0; }
  .list-unstyled > li {
    list-style: none; }

/**** Navigation ****/
/**** Tables ****/
/**** Other/Misc ****/
/*
 * PLEASE, PLEASE, PLEASE...
 * Organize your CSS. Do not simply throw your CSS at the end
 * of this file. Read the table of contents and _use_ it.
 */
/*
 * TABLE OF CONTENTS
 * ---------------------------------------------------------------------------
 * 1. Globals  - Default HTML element styling.
 * 2. Template - Styling for the structure of the site.
 * ---------------------------------------------------------------------------
 */
/* Things to place in separate files...
 * ---------------------------------------------------------------------------
 * _variables.scss - Sass variables.
 * _mixins.scss    - Sass mixins.
 * _library.scss   - Styling for custom classes used throughout the site.
 * _page_name.scss - Styling for page/state specific elements. Name the
 *                   file appropriately.
 * ---------------------------------------------------------------------------
 */
/* GLOBALS
 * -----------------------------------------------------------------------------
 * Styling for default HTML elements.
 * -----------------------------------------------------------------------------*/
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-attachment: fixed;
  background-position: 50000;
  background-size: cover; }
  @media screen and (min-width: 700px) {
    body {
      font-size: 18px; } }

h1 {
  font-size: 2em;
  font-weight: normal;
  color: #333333; }
  @media screen and (min-width: 850px) {
    h1 {
      font-size: 3.5em; } }

h2 {
  font-size: 2em;
  font-weight: normal;
  color: #333333; }
  @media screen and (min-width: 850px) {
    h2 {
      font-size: 3em; } }

h1 + h2 {
  font-size: 2em;
  color: #999999; }
  @media screen and (min-width: 850px) {
    h1 + h2 {
      font-size: 1.8em; } }

h3 {
  font-size: 1em;
  font-weight: bold;
  color: #333333; }
  @media screen and (min-width: 850px) {
    h3 {
      font-size: 2em; } }

h2 + h3 {
  font-size: 1em;
  font-weight: normal;
  color: #333333; }
  @media screen and (min-width: 850px) {
    h2 + h3 {
      font-size: 2em; } }

dl {
  margin-bottom: 1.5; }

dt,
dd {
  line-height: 1.5; }

dt {
  font-weight: bold; }

dd {
  margin-left: 0.75; }

.dl-horizontal dt {
  clear: left;
  float: left;
  text-align: right;
  width: 120px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
.dl-horizontal dd {
  margin-left: 130px; }

/* TEMPLATE
 * -----------------------------------------------------------------------------
 * Styling for the structure of the site.
 * -----------------------------------------------------------------------------*/
@media screen and (min-width: 850px) {
  #header-primary .inner {
    *zoom: 1;
    max-width: 56.25em;
    margin-left: auto;
    margin-right: auto; }
    #header-primary .inner:before, #header-primary .inner:after {
      content: " ";
      display: table; }
    #header-primary .inner:after {
      clear: both; } }

#main {
  margin: 0 2em 2em; }
  @media screen and (min-width: 850px) {
    #main {
      *zoom: 1;
      max-width: 56.25em;
      margin-left: auto;
      margin-right: auto; }
      #main:before, #main:after {
        content: " ";
        display: table; }
      #main:after {
        clear: both; } }
  @media screen and (min-width: 850px) {
    #main #content-primary {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 65.88078%; }
      #main #content-primary:last-child {
        margin-right: 0; } }
  @media screen and (min-width: 850px) {
    #main #footer-primary {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%; }
      #main #footer-primary:last-child {
        margin-right: 0; } }

/* SPECIFIC
 * -----------------------------------------------------------------------------
 * Section by section
 * -----------------------------------------------------------------------------*/
#front {
  margin: 0;
  padding: 0; }

a, a:visited {
  color: #61b8db;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #37a5d2; }

#header-primary {
  background: url("../images/grass.jpg") center bottom no-repeat;
  background-size: cover; }
  #header-primary .inner {
    padding: 6em 2em 0.5em; }
    #header-primary .inner, #header-primary .inner h1, #header-primary .inner h2, #header-primary .inner a {
      color: #ffffff;
      text-align: center;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); }
    #header-primary .inner h1 {
      margin-bottom: 0; }
    #header-primary .inner h2 {
      margin-top: 0; }

#content-primary {
  padding-top: 2em; }

#footer-primary {
  padding-top: 2em; }
  #footer-primary h2, #footer-primary h3 {
    font-size: 1em; }
    @media screen and (min-width: 850px) {
      #footer-primary h2, #footer-primary h3 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 2em; } }
  #footer-primary ul {
    margin-bottom: 2em;
    margin-top: 0;
    padding-left: 0; }
    #footer-primary ul li {
      list-style-type: none;
      padding: 0.5em 0; }

a#next {
  bottom: 0;
  color: #333333;
  display: block;
  font-size: 3em;
  padding: 0.5em;
  position: fixed;
  right: 0;
  text-align: center;
  text-decoration: none;
  width: 100%;
  z-index: 100; }

#blogs h3 {
  margin-bottom: 0; }
#blogs a {
  display: block; }
